<div class="row" style="margin-bottom: 10px">
  <div class="col-md-4">
    <%= link_to new_list_path, class: 'btn btn-primary', remote: true do %>
        <i class="fa fa-plus"></i> Add List
    <% end %>
    <%= link_to trash_index_path, class: 'btn btn-primary' do %>
        <i class="fa fa-trash-o"></i> Trash
    <% end %>
  </div>
</div>

<div class="row">
  <div id="cardlist">
    <%= render partial: 'lists/lists', locals: {lists: @lists} %>
  </div>
</div>

<div id="listEditCreateForm"></div>