<div class="row">
  <div id="cardlist">
    <%= render partial: 'lists/lists', locals: {lists: @lists} %>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <%= link_to new_list_path, class: 'btn btn-primary', remote: true do %>
            <i class="fa fa-plus"></i> Add List
        <% end %>
      </div>
      <div class="col-md-6">
        <div id="trashCorner">
          <%= link_to "javascript:void(0)", class: 'pull-right' do %>
              <button type="button" class="btn btn-primary">
                Trash <span class="badge badge-light">4/2</span>
              </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="listEditCreateForm"></div>