<%= link_to trash_index_path, class: 'pull-right' do %>
    <button type="button" class="btn btn-primary">
      Trash <span class="badge badge-light"><%= "#{lists}"/"#{items}" %></span>
    </button>
<% end %>