<div id="item-form">
  <%= render partial: 'items/form', locals: {item: Item.new, list: list} %>
</div>
<% items.each do |item| %>
    <div id="item-<%= item.id %>">
      <%= render partial: 'items/item', locals: {list: list, item: item} %>
    </div>
<% end %>